{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block header %}
<div class="login content">
	<h1><a href="/">BibFinder</a></h1>
	{% if user %}
	<!--
	<span class="item nickname">{{ user.nickname }}</span> |
	<span class="item"><a href="{{ logout_url|escape }}">Sign out</a></span>
	-->
	{% else %}
	<!--
	<span class="item"><a href="{{ login_url|escape }}">Sign in</a></span>
	-->
	{% endif %}
</div>
{% endblock %}

{% block content %}
<div id="primary">
	<div class="content">
		{% if data %}
		{{ data }}
		{% endif %}
	</div>
</div>

<div id="secondary">
	<div class="content">
		<form method="get">
			<label for="isbn">ISBN</label>
			<input type="text" id="isbn" name="isbn" value="{{ isbn }}">
			<input type="submit" value="find">
		</form>
	</div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
