{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block header %}
<div class="login content">
	<h1><a href="/">BibFinder</a></h1>
	{% if user %}
	<!--
	<span class="item nickname">{{ user.nickname }}</span> |
	<span class="item"><a href="{{ logout_url|escape }}">Sign out</a></span>
	-->
	{% else %}
	<!--
	<span class="item"><a href="{{ login_url|escape }}">Sign in</a></span>
	-->
	{% endif %}
</div>
{% endblock %}

{% block content %}
<div id="primary">
	<div class="content">
		<ul id="user_lists">
			{% for list in lists %}
			<li>
			<a href="{{ list.list_url }}">{{ list.list_name }}</a>
			(<a href="http://bibfinder.appspot.com/list_titles?url={{ list.list_url|urlencode }}" class="titles_link">list titles</a>)
			<ul></ul>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div id="secondary">
	<div class="content">
		<h1>
			{% for t in titles %}
			<p>{{ t.guid }} - {{ t.title }}</p>
			{% endfor %}
		</h1>
		<form method="get">
			<label for="wcname">WorldCat Username</label>
			<input type="text" id="wcname" name="wcname" value="{{ wcname }}">
			<input type="submit" value="find">
		</form>
	</div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
