body {
}

h1 {
	color: #fff;
}

h3.alert {
	color: red;
}

.hide {
	display: none;
}


#header {
	background:#6699ff;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	margin-top: 2px;
	padding: 4px;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header .content,#footer .content {
	margin:0 1em;
	margin-top:0;
	padding:0;
}

body.l2 #secondary {
	background:#eeeeee;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	margin-top: 2px; 
}
/*

body.l2 #primary {
	width: 55em;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	margin-top: 2px; 
}
	*/

#secondary .content {
	padding: 1em; 
}

#primary h1 {
	color: black;
}

#primary .content {
	padding: 1em; 
}

#primary label {
	display: block;
	color: #003;
	font-weight: bold;
}

#primary input[type="text"] {
	margin-bottom: 10px;
}

#footer{
	background:#ccc;
	height: 2em;
}

